body {
  background-color: #000;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  align-items: center;
}
head {
  background: #000;
  text-align: center;
}
a {
  font-family: Verdana;
  color: aquamarine;
  font-size: 16px;
}
#mid {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}
#explain {
  font-family: Verdana;
  font-size: 21px;
  color: grey;
}
#footer {
  text-align: right;
  color: gray;
  font-size: 30px;
}
